.product-image{
    height: 200px;
    width:200px;
}
.new-arrival{
    border:transparent !important;
}
#single-item{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}