@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
.App {
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}
strong{
  font-size:30px;
}
#default-btn{
  background-color: #8F12FD;
  color:#fff;
  padding:8px 15px;
  border-radius: 15px;
  border: 1px solid transparent;
}
#default-margin{
  margin-top:100px;
}
#top-margin{
  margin-top: 100px;
}
